<!DOCTYPE html>
<html>

<head>
	<title>Page Title</title>
</head>

<body>
	<div class="logo text-center">
		<img   src="images/mateus.jpg" alt="Eu" style="width:500px; height:600px;">
	</div>
	<h1 style="text-align:center;" >Mateus Lucas da Silva</h1  >
	<p style="text-align:center;" >Técnico de informática, e futuro programador, com conhecimentos em: Java, C++ e HTML.</p >


	<div class="pull-right">
		<button href="/" type="submit"  class="btn btn-success">Voltar<i class="fa fa-angle-right ml5"></i></button>
	</div>
</body>

</html>